.adminContainer{
    display: flex;
}

.multiSelect{
    width: 100%;
    padding: 10px;
}

.textEditor{
    width: 100%;
    padding: 10px;
}

.ql-editor{
    min-height: 150px;
    max-height: 100%;
}

.subjectBlock{
    display: flex;
    padding-bottom: 5px;
}

.subjectTitle{
    margin-block-start: 0;
    margin-block-end: 0;
}

.subjectInput{
    margin-left: 5px;
    width: 100%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: "1px solid red";
}

.sendBlock{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: blue;
    display: inline-block;
    border-bottom: '1px solid black';
}

