.adminContainer{
    margin: 10px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.534);
    border-radius: 10px;
}

.recBlock{
    display: flex;
}

.multiSelectBlock{
    display: flex;
    justify-content: space-between;
}

.multiSelect{
    width: 80%;
    position: relative;
}

.textEditor{
    padding-top: 10px;
}

.ql-editor{
    min-height: 150px;
    max-height: 100%;
}

.subjectBlock{
    display: flex;
    padding-bottom: 10px;
}

.subjectTitle{
    margin-block-start: 0;
    margin-block-end: 0;
}

.subjectInput{
    margin-left: 15px;
    width: 100%;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: "1px solid red";
    background-color: transparent;
}

.sendBlock{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: black;
    text-decoration: underline;
    display: inline-block;
    border-bottom: '1px solid black';
}

.emptyRecievers{
    color: red;
    font-size: 16px;
    text-align: center;
}

.sendButton{
    background-color: rgb(35, 35, 107);
    color: white;
    padding: 0px 20px;
    border-radius: 5px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
}

.deleteFile{
    background-color: rgb(35, 35, 107);
    color: white;
    padding: 0px 5px;
    border-radius: 5px;
    height: 30px;
    font-family: 'Poppins', sans-serif; 
}

.recieversTitle{
    margin-right: 10px;
}

.chooseAllButton{
    background-color: rgb(35, 35, 107);
    color: white;
    border-radius: 5px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
}

.userInput{
    width: 100%;
    height: 25px;
    border-radius: 10px;
    padding-left: 10px;

}

.recievers{
    display: flex;
    flex-wrap: wrap;
}

.fileName{
    padding: 0px 0px 7px 0px;
    font-size: 12px;
}
