body {
    margin: 0;
    background: url(../styles//img/back.jpg) no-repeat center center fixed;
}

p{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

input{
    outline: none;
}

h4{
    margin-block-start: 0em;
    margin-block-end: 0em;
}